body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

.name {
    color: rgb(255, 157, 0);
}

section {}

.flexible-container {
    display: flex;
}

.half-width {
    width: 50%;
    padding-left: 60px;
}

.half-width img {
    width: 70%;
}

.HIRE-button {
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    background-image: linear-gradient(#FF7F50, #FFA07A);

}

.backround-part {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    margin-bottom: 100px;

}

.Dream-big {
    background: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.exprience-section-3 {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.exprience-item {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 40px gray;
    padding-left: 20px;
    padding-bottom: 200px;
    border-radius: 10px;
}

#baby-developer {
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}

#full-stack-developer {
    border-left: 7px solid;
    border-image: linear-gradient(salmon, tomato);
    border-image-slice: 1;

}

footer p {
    text-align: center;
    font-size: 20px;

}